#advice {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 45px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.advice-bottom {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.advice-bottom-card {
  width: 238px;
  height: 321px;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advice-bottom-title {
  color: var(--text-color);
  font-family: var(--bold);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  padding: 30px 30px 15px 30px;
}
.advice-bottom-text {
  color: var(--second-text-color);
  font-family: var(--medium);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding: 0px 30px 30px 30px;
}
.advice-bottom-img {
  max-width: 100%;
}
